.footer-container {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-element {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-element__logo {
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  color: $second-color-white;
  margin-bottom: 20px;
  display: inline-block;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.footer-element__item {
  color: $accent-color;
}

.footer-nav {
  letter-spacing: 0.02em;
  font-weight: 500;
  color: $second-color-white;
  font-style: normal;
}

.footer-nav__address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer-nav__item {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
  &:not(:last-child) {
    @media screen and (min-width: 480px) {
      padding-bottom: 8px;
    }
    @media screen and (min-width: 768px) {
      padding-bottom: 9px;
    }
  }
}

.footer-nav__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
}

.heading-footer {
  color: $second-color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer.container {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}

.footer-item {
  @media screen and (min-width: 480px) {
    /* margin-bottom: 60px; */
  }

  @media screen and (min-width: 1200px) {
    /* margin-right: 93px; */
  }
}

.icons-subscr {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: $second-color-white;
}

.mail-subscr {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscr {
  background-color: $accent-color;
  color: $second-color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.footer-form__mail {
  @media screen and (max-width: 1199px) {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
}

.footer-form__button {
  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    display: inline-flex;
  }
}
.box-footer {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
